*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


main{
    height: 100%;
}

:root{
    --verde-argen:#5B9B60;
    --blanco: #fff;
    --gris-argen:#232323;
    --gris-claro: #E8EBEC;
    --verde-oscuro: #376D3B;
}

/* SPINER OF LOADER-spinner  */

.loader{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.loader-spinner {
  width: 48px;
  height: 48px;
  margin: auto;
  position: relative;
}

.loader-spinner:before {
  content: '';
  width: 48px;
  height: 5px;
  background: #999;
  position: absolute;
  top: 60px;
  left: 0;
  border-radius: 50%;
  animation: shadow324 0.5s linear infinite;
}

.loader-spinner:after {
  content: '';
  width: 100%;
  height: 100%;
  background:#BF8A63;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  animation: jump7456 0.5s linear infinite;
}

@keyframes jump7456 {
  15% {
    border-bottom-right-radius: 3px;
  }

  25% {
    transform: translateY(9px) rotate(22.5deg);
  }

  50% {
    transform: translateY(18px) scale(1, .9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }

  75% {
    transform: translateY(9px) rotate(67.5deg);
  }

  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow324 {

  0%,
    100% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1);
  }
}

.hiddenBody{
  display: none;
}

/* NAVEGATION  */

.content-nav-car{
    height: 12vh;
    width: 100%;
    background-color: #5b9b60bd;
    color: #232323;
    position: fixed;
    z-index: 10;
}
.navegation{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.cont-logo{
    width: 40%;
}
.cont-links{
    height: 100%;
    width: 45%;
    margin: auto;
}

.list-links{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    list-style: none;
}
.link-nav{
    text-decoration: none;
    color: var(--gris-argen);
}

.button-nav {
    width: 7rem;
    display: inline-block;
    padding: 12px 5px;
    border: 1px solid var(--gris-argen);
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 0.8rem;
    color: var(--blanco);
    background-color: #232323cb;
    z-index: 1;
    text-align: center;
   }
   
   .button-nav:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
   }
   
   .button-nav:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: var(--gris-argen);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
   }
   
   .button-nav:hover {
    color: var(--gris-argen);
    border: 1px solid var(--verde-argen);
   }
   
   .button-nav:hover:before {
    top: -35%;
    background-color: var(--verde-argen);
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }
   
   .button-nav:hover:after {
    top: -45%;
    background-color: var(--verde-argen);
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}


/* SECTION INFORMATION OF ARGENPACK  */
.cont-title-page{
    width: 100%;
    height: auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.img-argen{
    width: 10%;
    height: auto;
    margin: auto;
}

.sections{
    padding: 1rem;
}

.cont-prod-muestra{
  display: flex;
  background-color: var(--gris-claro);
  width: 100%;
  overflow: hidden;
  margin: auto;
}

.cont-boton-product{
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gris-claro);
}

.boton-diferent {
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background: var(--verde-oscuro);
  min-width: 200px;
  border: 0;
  border-radius: 50px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
  box-sizing: border-box;
  padding: 16px 20px;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 1.2px;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
}

.boton-diferent:hover {
  opacity: .95;
}

.boton-diferent .animation {
  border-radius: 100%;
  animation: ripple 0.6s linear infinite;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
  }
}

.cont-card-presentacion{
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.card-presentacion{
  width: 300px;
  height: 400px;
  
}

.cont-img-pre{
  width: 100%;
  height: 50%;
  margin-bottom: 2rem;
}

.img-pre{
  width: 100%;
  height: 100%;
}

.info-pre{
  text-align: center;
  font-size: 1rem;
}

.content-div-susten{
  width: 100%;
  height: 35rem;
  padding: 2rem;
  background-image: linear-gradient(to right, var(--verde-argen) , #16441a );
}

.title-susten{
  color: var(--blanco);
  font-weight: 600;
  text-align: center;
  text-shadow: 3px 3px 3px var(--gris-argen);
  margin: 2rem 0 1rem 0;
}
.cont-susten{
  height: 80%;
  display: flex;
  justify-content: space-evenly;
}

.cont-info-susten{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  padding: 3rem;
  border-radius: 15px;
  text-align: center;
  background-color: #23232362;
  color: var(--blanco);
  text-shadow: 3px 3px 3px var(--gris-argen);
}

.cont-video-susten{
  width: 45%;
  background-color: #23232362;
  padding: 1rem;
  border-radius: 15px;
}

.video-susten{
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.content-mas-info{
  width: 100%;
  height: 35rem;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  grid-auto-rows: minmax(100px, auto);
}

.one{
 grid-template-columns: 1;
}

.two{
  grid-template-columns: 2;
}

.three{
  grid-template-columns: 3;
}

.cont-img-minfo-one{
  width: 100%;
  height: 50%;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
  url(../assent/image/diseno.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.cont-img-minfo-two{
  width: 100%;
  height: 50%;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
  url(../assent/image/asesoria.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.cont-img-minfo-three{
  width: 100%;
  height: 50%;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
  url(../assent/image/iram-logo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.cont-img-minfo-one:hover{
  background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.0)), url(../assent/image/diseno.jpg);
  transition: 1s ease;
}
.cont-img-minfo-two:hover{
  background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.0)), url(../assent/image/asesoria.jpg);
  transition: 1s ease;
}
.cont-img-minfo-three:hover{
  background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.0)), url(../assent/image/iram-logo.jpg);
  transition: 1s ease;
}

.cont-text-minfo{
  width: 100%;
  height: 50%;
  text-align: center;
  padding: 1rem;
  border-top: 0.5rem #16441a solid;
}

.cont-text-minfo:hover{
  background-color: var(--gris-claro);
  border-radius: 0 0 15px 15px;
  border-top: 0.5rem var(--verde-argen) solid;
}

.title-minfo{
  color: var(--verde-argen);
  font-weight: 600;
  font-size: 1.3rem;
}

.parrafo-minfo{
  color: #606060;
  overflow: hidden;
}

.title-perfiles{
  text-align: center;
  margin: 3rem 0;
}

.content-div-perfil{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.img-perfiles{
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin-bottom: 2.5rem;
}

.name-perfiles{
  font-weight: 600;
  font-size: 1.3rem;
  margin-bottom: 0.3rem;
}

.puesto-perfiles{
  color: #606060;
}

/* FOOTER  */
.content-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--gris-argen);
    padding: 2rem;
}

.cont-copy-info{
    color: var(--blanco);
    width: 40%;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
}

.cont-redes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    color: var(--blanco);
}

.cont-redes > h4{
    font-size: 1.2rem;
}

.redes{
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-between;
    padding: 2rem;
}

.link-redes{
    color: var(--blanco);
    text-decoration: none;
}

.link-redes:hover{
    color: var(--verde-argen);
}


.content-impact{
  width: 100%;
  margin-top: 5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: var(--gris-claro);

}

.cont-info-impact{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-impact{
  width: 100%;
  color: var(--verde-argen);
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  padding: 2rem;
}

.img-impact{
  width: 100%;
  height: 500px;
  object-position: center;
  object-fit: cover;
  padding: 2rem;
}

.cont-tandp{
  width: 40%;
}

.cont-tandp img{
  width: 80%;
  height: auto;
  padding: 3rem;
}

.subtitle-impact{
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 2rem;
}


/* CARRUSEL INFINITO  */
.title-slider-inf{
    padding: 2rem;
    text-align: center;
    width: 100%;
    font-weight: 600;
}

.slider-emp{
    width: 100%;
    height: auto;
    margin: auto;
    overflow: hidden;
    box-shadow:0px -4px 20px var(--gris-argen);
}

.slider-track-emp{
    display: flex;
    align-items: center;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(400px*12);
}

.slide-emp{
    width: 300px;
    padding: 1rem;
}

.slide-emp img{
    width: 100%;

}

@keyframes scroll{
    0%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100%{
        -webkit-transform: translateX(calc(-200px * 6));
        transform: translateX(calc(-400px * 6));
    }
}


/* PAGINA NOSOTROS  */

.parrafo-qs{
  width: 80%;
}

.section-mi-vi{
  height: 500px;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--verde-argen);
}

.cont-mi-vi{
  width: 50%;
  background-color: #16441a85;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  color: var(--blanco);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cont-mi-vi:hover{
  background-color: #16441a44;
}

.title-mi-vi{
  font-weight: 600;
  font-size: 2rem;
}

.parrafo-mi-vi{
  font-size: 1.1rem;
  margin: 0 !important;
}

.ilu-mi-vi{
  margin: auto;
  padding: 0.5rem;

}
.ilu-mi-vi img{
  width: 100%;
  height: auto;
}




.cont-title-testi{
  background-color: var(--gris-claro);
  text-align: center;
  padding-top: 2rem;
}

.title-testi{
  margin-bottom: 0 !important;
  color: var(--verde-argen);
  font-size: 2rem;
  font-weight: 600;
}


.cont-card-testi{
  width: 100%;
  height: auto;
  padding: 3rem;
  display: flex;
  background-color: var(--gris-claro);
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.card-testimonio{
  width: 350px;
  height: 30rem;
  background-color: var(--blanco);
  border-radius: 5px;
  
}

.cont-img-testi{
  width: 100%;
  height: 200px;
}

.img-testi{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  object-position: center;
}

.cont-info-testi{
  padding: 1rem;
  text-align: center;
}

.name-testi{
  font-size: 1.3rem;
  font-weight: 600;
}

.puesto-testi{
  color: #5f5f5f;
}

.cont-piramide{
  width: 50%;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title-piramide{
    color: var(--verde-argen);
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.img-piramide-one{
  width: 100%;
  height: 6rem;
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../assent/image/1pi.png);
  background-repeat: no-repeat;
  background-position: center;
}
.img-piramide-two{
  width: 100%;
  height: 4rem;
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../assent/image/2pi.png);
  background-repeat: no-repeat;
  background-position: center;
}
.img-piramide-three{
  height: 4rem;
  width: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../assent/image/3pi.png);
  background-repeat: no-repeat;
  background-position: center;
}
.img-piramide-four{
  width: 100%;
  height: 4rem;
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../assent/image/4pi.png);
  background-repeat: no-repeat;
  background-position: center;
}
.img-piramide-five{
  width: 100%;
  height: 4rem;
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../assent/image/5pi.png);
  background-repeat: no-repeat;
  background-position: center;
}

.img-piramide-one:hover{
  background-image: linear-gradient(rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0)), url(../assent/image/1pi.png);
}

.img-piramide-two:hover{
  background-image: linear-gradient(rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0)), url(../assent/image/2pi.png);
}
.img-piramide-three:hover{
  background-image: linear-gradient(rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0)), url(../assent/image/3pi.png);
}
.img-piramide-four:hover{
  background-image: linear-gradient(rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0)), url(../assent/image/4pi.png);
}
.img-piramide-five:hover{
  background-image: linear-gradient(rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0)), url(../assent/image/5pi.png);
}

.content-form-unete{
  width: 100%;
  height: 500px;
  background-image: url(../assent/image/fondo-unete.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-unete{
  padding: 1rem;
  font-size: 2.1rem;
  font-weight: 600;
  color: var(--blanco);
  text-shadow: 3px 3px 3px var(--gris-argen);
  
}

.cont-form-unete{
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.button-subircv {
  position: relative;
  width: 100%;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #34974d;
  background-color: #3aa856;
  border-radius: 15px;
}

.button-subircv, .button__icon, .button__text {
  transition: all 0.3s;
}

.button-subircv .button__text {
  transform: translateX(30px);
  color: #fff;
  font-weight: 600;
}

.button-subircv .button__icon {
  position: absolute;
  transform: translateX(207px);
  height: 100%;
  width: 400px;
  background-color: #34974d;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 15px 15px 0;
}

.svg {
  width: 30px;
  color: #fff;
}

.button-subircv:hover {
  background: #34974d;
}

.button-subircv:hover .button__text {
  color: transparent;
}

.button-subircv:hover .button__icon {
  width: 100%;
  transform: translateX(0);
  border-radius: 15px;
}

.button-subircv:active .button__icon {
  background-color: #2e8644;
}

.button-subircv:active {
  border: 1px solid #2e8644;
}


.section-one-unete{
  width: 40%;
  padding: 1rem;
  color: var(--blanco);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: start;
}

.section-one-unete div span {
  font-size: 1.2rem;
  font-weight: 600;
  text-shadow: 3px 3px 3px var(--gris-argen);
}

.section-one-unete div p{
  text-shadow: 3px 3px 3px var(--gris-argen);

}




/* PAGINA PRODUCTOS  */

.navbar{
  padding: 0 !important;
}

.navbar-search{
  background-color: var(--gris-argen);
  padding: 1rem;
}

.nav-buscar{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.cont-search{
  width: 40%;
}

.cont-products{
  width: 90%;
  height: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--gris-claro) ;
  box-shadow: 0px 0px 91px -20px rgba(0,0,0,0.75);
}

.card-pro{
  background-color: var(--blanco);
  width: 18rem;
  height: 25rem;
  padding: 1rem;
  margin: 2rem;
  border-radius: 5px;
  box-shadow: 0px 0px 94px -48px rgba(0,0,0,0.75);
}

.cont-img-card{
  height: 60%;
  width: 100%;
}

.img-card{
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #2e864446;
  border-radius: 5px;
}

.cont-info-card{
  padding: 1rem 0;
  height: 30%;
  overflow: hidden;
}

.title-card{
  font-weight: 600;
  font-size: 1.3rem;
}

.price-card{
  font-size: 1rem;
  color: var(--gris-argen);
}

.cont-button-card{
  display: flex;
  justify-content: end;
}

.button-card{
  background-color: var(--verde-oscuro);
  padding: 0.5rem;
  width: 7rem;
  text-align: center;
  border-radius: 50px;
  text-decoration: none;
  color: var(--blanco);
}

.button-card:hover{
  background-color: var(--verde-argen);
}


.hidden{
  display: none;
}

.card__mensajeDeError{
  height: 100%;
  width: 90%;
  margin: 4rem auto;
  background-color: var(--blanco);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0px 0px 20px black;
}

.img__error{
  width: 50%;
  height: auto;
}

.mensaje__error{
  width: 50%;
}

.mensaje__error h2{
  width: 90%;
  font-size: 1.8rem;
  color: var(--verde-argen);
  font-weight: 600;
  padding: 1rem;
}

.mensaje__error ul {
  color: #5f5f5f;
}

/* PAGINA DE CONTACTO */


.cont-title-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
}

.cont-form-contact{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    background-color: #f8eeee;
    
    padding: 3rem;
    box-shadow: 0px 0px 48px -15px rgba(0,0,0,0.6);
}

.section-one-contact{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 40%;
    justify-content: center;
    background-color: #3aa85623;
    border-radius: 50px 0px 0px 50px;
    padding: 3rem;
}


.section-one-contact img{
  width: 100%;
  margin-bottom: 1rem;
}

.section-one-contact span{
  font-size: 1.2rem;
  color: var(--gris-argen);
  font-weight: 600;
  text-shadow: 0px 0px 48px -15px rgba(0,0,0,0.6);
}



.form-contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 650px;
    height: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 0px 50px 50px 0px;
    position: relative;
    box-shadow: -8px 0px 12px -4px rgba(0,0,0,0.6);
  }
  
  .title-contact {
    font-size: 2.3rem;
    color: var(--verde-argen);
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  .title-contact::before,.title-contact::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: var(--verde-argen);
  }
  
  .title-contact::before {
    width: 18px;
    height: 18px;
    background-color: var(--verde-argen);
  }
  
  .title-contact::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .label-dis{
    width: 50%;
  }

  .message{
    color: rgba(88, 87, 87, 0.822);
    font-size: 1rem;
  }
  
  .signin {
    text-align: center;
    color: rgba(88, 87, 87, 0.822);
    font-size: 13px;
  }
  
  
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .form-contact label {
    position: relative;
  }
  
  .form-contact label .input-contact {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  .form-contact label .input-contact + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form-contact label .input-contact:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
  }
  
  .form-contact label .input-contact:focus + span,.form-contact label .input-contact:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .form-contact label .input-contact:valid + span {
    color: green;
  }

  .textarea-contact{
    resize: none;
  }
  
  .submit-contact {
    border: none;
    outline: none;
    background-color:#3aa856; 

    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
  }
  
  .submit-contact:hover {
    background-color:#34974d;
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }

.cont-title-ubi{
    width: 100%;
    padding: 2rem;
    text-align: center;
}

.title-ubi{
    font-size: 2rem;
    color: var(--verde-argen);
}

.cont-ubi{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 2rem;
    width: 100%;
}

.cont-maps{
  padding: 2rem;
  width: 45%;
}

.maps{
  width: 100%;
}

.title-maps{
  font-size: 1.3rem;
}


/* PAGINA DE DETALLES  */

.main-details{
  height: 100%;
}

.section-details{
  padding-top: 8rem;
  background-color: var(--gris-claro);
  height: 100vh;
}


.button-volver{
  width: 100%;
  color: var(--gris-argen);
  font-size: 2.5rem;
  padding-left: 2rem;
}

.button-volver:hover{
  color: var(--verde-oscuro);
}

.card-details{
  width: 90%;
  height: 90%;
  margin: auto;
  background-color: var(--blanco);
  padding: 2rem;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
}

.cont-img-detials{
  height: 100%;
  width: 60%;
  padding: 2rem;
}

.cont-img-detials:hover{
  cursor: zoom-in;
}

.img-details{
  background-color: var(--blanco);
  width: 100%;
  height: 80%;
  object-fit: cover;
  object-position: center;
}

.cont-info-details{
  width: 40%;
  height: 100%;
}

.ruta-details, .ruta-details a{
  width: 100%;
  text-decoration: none;
  color: #2812ee;
  padding-bottom: 2rem;
  cursor: pointer;
}

.cont-more-info-details{
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title-details{
  font-size: 2rem;
  font-weight: 600;
}

.client-details{
  font-size: 1rem;
  color: #5f5f5f;
}

.subtitle-details{
  font-size: 1.2rem;
}

.info-details{
  max-height: 80%;
  overflow: hidden;
}

.danger-details{
  font-size: 0.8rem;
  padding: 1rem;
  background-color: var(--gris-claro);
  color: #5f5f5f;
  border-radius: 15px;
}

.cont-button-details{
  width: 100%;
}

.button-details{
  margin-top: 2rem;
  width: 100%;
  display: inline-block;
  text-decoration: none;
  text-align: center;
}

/* MENU HAMBURGUESA  */

.menu-hamburguesa{
  width: 60px;
  cursor: pointer;
  padding: .7rem;
  display: none;
}

.bi-list{
  width: 100%;
  height: 100%;
  color: var(--gris-argen);
}

.cont-logo-menu{
  display: none;
}

.menu-active{
  transform: translateY(0) !important;
  transition: transform .5s;

}

/* COMIENZA DISEÑO RESPONSIVE */

/* 1- PANTALLAS DE TABLES  */

@media (max-width: 850px){

  /* MENU HAMBURGUESA  */

  .content-nav-car{
    height: 9vh;
  }

  .cont-links{
    flex-direction: column-reverse;
    justify-content: center;
    height: 70vh;
    width: 100%;
    background-color: var(--verde-argen);
    padding: 2rem;
    transform: translateY(-100%);
    top: 0;
    transition: transform .5s;
    position: absolute;
  }

  .cont-logo{
    display: none;
  }

  .list-links{
    flex-direction: column;
    width: 100%;
  }
  
  .list-links li{
    width: 100%;
  }


  .button-nav{
    width: 100%;
    background-color: transparent;
    color: var(--blanco);
    font-size: 1.3rem;
    font-weight: 600;
    border: none;
    padding: 2rem;
    margin: auto;
  }

  .menu-hamburguesa{
    display: inline-block;
    position: absolute;
    z-index: 10;
    top: 1rem;
    right: .7rem;
  }
  
  .bi-list{
    color: var(--blanco);
    font-size: 2.2rem;
  }

  .cont-logo-menu{
    display: inline-block;
  }

/* PÁGINA INICIO RESPONSIVE */

  .cont-prod-muestra{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .cont-title-contact{
    padding: 0;
    margin: 1rem 0;
  }

  .title-contact{
    font-size: 1.5rem;
  }

  .cont-card-presentacion{
    flex-wrap: wrap;
    height: auto;
  }

  .card-presentacion{
    height: 300px;
    margin-bottom: 1rem;
  }

  .img-pre{
    object-fit: cover;
    object-position: center;
  }

  .content-div-susten{
    height: 50rem;
    padding: .8rem;
  }

  .cont-susten{
    display: flex;
    flex-direction: column;
    padding: .5rem;
  }

  .cont-susten div {
    width: 100%;
    height: 18rem;
    padding: .5rem;
    margin-bottom: 1rem;
    font-size: .9rem;
  }

  .parrafo-susten{
    padding: 1rem;
    font-size: 1.2rem;
  }

  .cont-susten div img{
    width: 50%;
    margin: auto;
    padding: 1rem;
    object-fit: cover;
  }

  .content-mas-info{
    height: auto;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: 0;
    grid-gap: 1rem;
  }

  .cont-card-minfo{
    height: 25rem;
    margin-bottom: 2rem;
  }

  .parrafo-minfo{
    font-size: .8rem;
    padding: 1rem;
  }

  .content-div-perfil{
    display: flex;
    flex-wrap: wrap;
  }

  .cont-perfil{
    margin: 2rem;
  }

  .content-impact{
    padding: 0;
  }

  .cont-info-impact{
    flex-direction: column;
    padding: 0;
    overflow: scroll;
  }

  .cont-info-impact div{
    width: 100%;
    height: auto;
  }

  .cont-tandp{
    width: 100%;
    padding: 1rem;
    text-align: center;
  }

  .subtitle-impact{
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .img-impact{

    height: 250px;
    padding: 0;
  }

  .content-footer{
    flex-direction: column-reverse;
  }

  .cont-copy-info{
    width: 100%;
    padding: .8rem;
    font-size: .8rem;
  }

  .cont-copy-info p{
    margin-bottom: 1rem;
  }

  .cont-redes{
    width: 100%;
    margin-top: 1rem;
  }

  .redes{
    width: 100%;
    padding: .8rem;
    flex-wrap: wrap;
  }
  .redes div{
    width: 50%;
    font-size: .8rem;
    text-align: center;
    margin-bottom: 1rem;
  }


/* PÁGINA NOSOTROS RESPONSIVE  */



}


/* 2- PANTALLAS DE CELULARES  */

@media (max-width: 450px){
  
}
